# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# pip dependency files
pip-log.txt
pip-delete-this-directory.txt

# PyCharm project files
.idea/

# OS files
.DS_Store
Thumbs.db

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
/config/user_config.json
/data/input/data_time_series/test_X.csv
/data/input/data_time_series/test_y.csv
/data/input/data_time_series/train_X.csv
/data/input/data_time_series/train_y.csv
/data/input/data_time_series/val_X.csv
/data/input/data_time_series/val_y.csv
